<!DOCTYPE html>
<html lang="es" ng-app="Foro">
<head>
	<title>Foro</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/foro.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/slick.css">
</head>

<body ng-controller="ForoController">
	<div class="wrap-content">
		<article  class="wrap-banner">
			<a href="/">
				<div class="banner-image"></div>
			</a>
		</article>
	</div>


	<article class="article-create-post">
			<div class="wrap-profile-image"></div>
			<div class="wrap-form-create-post">
					<form >
					  <h2 class="title-form-create-post">Crear nuevo tema</h2>
						<span class="titulo">Titulo</span>
						<input type="text" id="text_title">
						<div class="wrong-field hide">
							<span>Debes completar este campo correctamente</span>
						</div>

						<span class="titulo">Descripcion</span>
						<textarea name="" id="text_description" cols="30" rows="8"></textarea>
						<div class="wrong-field fix-wrong-description hide">
							<span>Debes completar este campo correctamente</span>
						</div>

						<select name="" id="text_program">
							<option value="Trabajo Social">Programa</option>
							<option value="Trabajo Social">Trabajo Social</option>
							<option value="Trabajo Social">Trabajo Social</option>
							<option value="Trabajo Social">Trabajo Social</option>
							<option value="Trabajo Social">Trabajo Social</option>
						</select>
						<button class="btn-default_foro" type="submit">Enviar</button>
					</form>
			</div>
	</article>



	<article class="article-choose-program">
		<div class="wrap-title__title-choose-program">
			<h1 class="title-choose-program">
				Programa
				<span class="program-name">Ingenieria de sistemas</span>
			</h1>
		</div>

		<div class="wrap-slider-arrows">
			<div class="left float-left arrow-left"> <i class="material-icons">arrow_back</i> </div>
			<div class="right float-right arrow-right"> <i class="material-icons">arrow_forward</i> </div>
		</div>

		<div class="wrap-grid-programs">
			<ul class="wrap-grid-programs__ul">

				<li ng-click="request_program()">
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li ng-click="request_program()">
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li ng-click="request_program()">
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li ng-click="request_program()">
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li ng-click="request_program()">
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li ng-click="request_program()">
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li ng-click="request_program()">
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>
			</ul>
		</div>
	</article>


	<article class="section-foro">
		<div class="wrap-post">
			<div class="section-photo post-owner no-margin-left">
				<div class="profile-image"></div>
	      <span class="titulo">
	      	<small>NOMBRE</small>
	      </span>
			</div> <!-- end section-photo -->

			<div class="wrap-answers">
				<span class="titulo">Titulo del post</span>

				<div class="wrap-description min-height">
					<p>Description</p>
				</div>
				<div class="wrap-options">
					<span class="titulo line-right">
						<small>Borrar</small>
					</span>
					<span class="titulo">
						<small>Editar</small>
					</span>
				</div>
			</div> <!-- end wrap-answers -->
		</div>


			<div class="container-other-anwers">
				<div class="respuesta">

					<div class="section-photo">
						<div class="profile-image"></div>
			      <span class="titulo">
			      	<small>NOMBRE</small>
			      </span>
					</div> <!-- end section photo1 -->

					<div class="wrap-description push-answer"><p>Respuesta</p></div>
				</div> <!-- end respuesta -->

				<div class="respuesta">

					<div class="section-photo">
						<div class="profile-image"></div>
			      <span class="titulo">
			      	<small>NOMBRE</small>
			      </span>
					</div> <!-- end section photo1 -->

					<div class="wrap-description push-answer"><p>Respuesta</p></div>
				</div> <!-- end respuesta -->

				<div>
					<button>Ver mas respuestas</button>
				</div>

			</div> <!-- end container-other-anwers -->
	</article>




	<div>
		<button>Carga mas post</button>
	</div>





	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/foro.js"></script>

</body>
</html>
