<!DOCTYPE html>
<html lang="es" ng-app="Foro">
<head>
	<title>Foro</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/foro.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/slick.css">
</head>

<body ng-controller="ForoController">
	<div class="wrap-content">
		<article  class="wrap-banner">
			<a href="/">
				<div class="banner-image"></div>
			</a>
		</article>
	</div>

	<article class="article-choose-program">
		<h1 class="title-choose-program">
			Programa
			<span class="program-name">Ingenieria de sistemas</span>
		</h1>

		<div class="wrap-slider-arrows">
			<div class="left float-left arrow-left"> <i class="material-icons">arrow_back</i> </div>
			<div class="right float-right arrow-right"> <i class="material-icons">arrow_forward</i> </div>
		</div>


		<div class="wrap-grid-programs">
			<ul class="wrap-grid-programs__ul">
				<li>
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>


				<li>
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li>
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>


				<li>
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>

				<li>
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>


				<li>
					<div class="wrap-program">
						<img class="" alt="" src="/imagenes/icon_trabajo_social.png">
						<span >Trabajo Social </span>
					</div>
				</li>
			</ul>
		</div>
	</article>



	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/foro.js"></script>

</body>
</html>
