<!DOCTYPE html>
<html>
<head>
    <title>Galeria de videos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/body.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
    @media (min-width: 992px)
.col-md-12 {
    width: 87%;
}
    .novisto{
        border: 1px solid;
        border-color: white;
    }

.pp{

}

</style>


</head>

<body>
<div id="pp">
<div class="container-fluid col-md-12">
   <center> <div  class="container-fluid col-md-10 col-md-offset-1 ">
   <div class="row">
    <a href="/"> <img src="imagenes/baner.png" class="img-responsive"></a>
   </div>
</div></center>
    </div>
    <section>

   <center> <div class="container" >
        <div class="row">
        <h2>Galeria de Videos</h2>
        <p>En este espacio se pretende mostrar aquellos videos de la comunidad</p>
            <hr>
        </div>
        </div>
        <div align="center" class="container col-md-12 ">
        <div align="center" class="container col-md-10 col-md-offset-1 ">
                <div class="row">
                <div class="col-md-3 ">
                 <div class="embed-responsive embed-responsive-16by9">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/bIdtdvognZ8" frameborder="0" allowfullscreen></iframe>
                    </div>
                     <hr class="novisto">
                </div>



                 <div class="col-md-3 ">
                 <div class="embed-responsive embed-responsive-16by9">
               <iframe width="420" height="315" src="https://www.youtube.com/embed/bIdtdvognZ8" frameborder="0" allowfullscreen></iframe>
                    </div>
                     <hr class="novisto">
                </div>



                 <div class="col-md-3 ">
                 <div class="embed-responsive embed-responsive-16by9">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/bIdtdvognZ8" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <hr class="novisto">
                </div>



                 <div class="col-md-3 ">
                 <div class="embed-responsive embed-responsive-16by9">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/bIdtdvognZ8" frameborder="0" allowfullscreen></iframe>
                    </div>
                     <hr class="novisto">
                </div>


            </div>
    </div>
</div>
</center>
</section>
 <center>
        <div align="center" class="container">
                <div class="row">
                <div class="col-md-8">

                    </div>
                </div>
            </div>
    </center>
     </div>

</body>
    </html>
