<!DOCTYPE HTML>

<html>
	<head>
		<title>Unilcateriana</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	    <script type="text/javascript" src="engine1/jquery.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollzer.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
			<link rel="stylesheet" href="css/bootstrap.min.css"/>
		</noscript>

	</head>
	<body>
	<!--! la clase div "todo" abarca todo el contenido visible -->
		<div id="todo">

		<!--!section header abarca el menu vertical derecho -->
				<section id="header" class="skel-layers-fixed">
					<header>
						<span class="image avatar"><img src="imagenes/avatar.jpg" alt="" /></span>
						<h1 id="logo"><a href="#">Uniclaretiana</a></h1>

					</header>
					<nav id="nav">
						<ul>
						    <li><a href="#one">INICIO</a></li>
							<li><a href="Galeria-videos.html">VIDEO</a></li>
							<li> <a href="/foro">FORO</a> </li>
							<li><a href="/gallery">ACERCA DE</a></li>
							<li><a href="/profile">CONFIGURACIÓN DE CUENTA </a> </li>
                           <li><a href="/login">CERRAR SESIÓN </a> </li>

						</ul>
					</nav>

				</section>
			<!--!	div main abarca todas las secciones de peticiones -->
				<div id="main">
			<!--!	id one  los enlaces del foro -->

			<section id="one">

		<div class="slider2">
           <ul>
              <li> <img src="imagenes/1.jpg" alt=""></li>
              <li><img src="imagenes/2.jpg" alt=""> </li>
              <li> <img src="imagenes/3.jpg" alt=""></li>
              <li> <img src="imagenes/4.jpg" alt=""></li>
              <li> <img src="imagenes/5.jpg" alt=""></li>
              <li><img src="imagenes/6.jpg" alt=""> </li>
              <li> <img src="imagenes/7.jpg" alt=""></li>
              <li> <img src="imagenes/8.jpg" alt=""></li>
           </ul>
       </div>

     <br>
			<div class="container">
              <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-2">
           <img src="imagenes/mision.png">
              <p> La Fundación Universitaria Claretiana –UNICLARETIANA es una IES de frontera, inspirada en el proyecto humanización, fundamentada en la tradición cristiana y animada por el carisma claretiano, desarrolla la formación integral mediante la docencia, la investigación y la extensión, para que la comunidad educativa sea partícipe de los cambios que requiere la sociedad, con justicia social, desarrollo humano y paz, dentro del contexto regional, nacional e internacional.</p>

            </div>
             <div class="templatemo-content-widget white-bg col-1">
             <img src="imagenes/vision.png">
                <p>  La Fundación Universitaria Claretiana – UNICLARETIANA – será identificada como una Institución de Educación Superior de frontera, comprometida con la formación integral de personas, que aporten a la paz  y a la construcción de región en los diversos contextos socioculturales.</p>
                </div>
            </div>
		</div>
      </section>



<section id="Galeria">
    <br>
        <br>
    <center><h1>¿QUIENES SOMOS?</h1>
<center>
    Somos estudiantes de ingenieria de sistemas quinto(5°) semestre dia y somos los desarrolladores de este sitio web.
    </center>
<br></center>
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/10679_373490269517038_5410379602334310453_n.jpg" alt="" title="" id="wows1_0"/></li>
		<li><img src="data1/images/17649_371049239761141_2163106510730270094_n.jpg" alt="" title="" id="wows1_1"/></li>
		<li><img src="data1/images/934854_368609613338437_4154934644709440885_n.jpg" alt="" title="" id="wows1_2"/></li>
		<li><img src="data1/images/934892_368159566716775_1588098467363199151_n.jpg" alt="lexy" title="lexy" id="wows1_3"/></li>
		<li><img src="data1/images/942528_1519285381420758_1742730182453740170_n.png" alt="" title="" id="wows1_4"/></li>
		<li><img src="data1/images/994123_369941319871933_7477185200573696490_n.jpg" alt="" title="" id="wows1_5"/></li>
		<li><a href="http://wowslider.com"><img src="data1/images/1450738_583817301668090_2074855812_n.jpg" alt="bootstrap carousel" title="" id="wows1_6"/></a></li>
		<li><img src="data1/images/1483936_375505145982217_4794930800064457298_o.jpg" alt="" title="" id="wows1_7"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title=""><span><img src="data1/tooltips/10679_373490269517038_5410379602334310453_n.jpg" alt=""/>1</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/17649_371049239761141_2163106510730270094_n.jpg" alt=""/>2</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/934854_368609613338437_4154934644709440885_n.jpg" alt=""/>3</span></a>
		<a href="#" title="lexy"><span><img src="data1/tooltips/934892_368159566716775_1588098467363199151_n.jpg" alt="lexy"/>4</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/942528_1519285381420758_1742730182453740170_n.png" alt=""/>5</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/994123_369941319871933_7477185200573696490_n.jpg" alt=""/>6</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/1450738_583817301668090_2074855812_n.jpg" alt=""/>7</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/1483936_375505145982217_4794930800064457298_o.jpg" alt=""/>8</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">bootstrap carousel</a> by WOWSlider.com v8.7</div>
	<div class="ws_shadow"></div>
	</div>
<br>
    </section>

              </div>
		</div>
		<script src="js"></script>
        <script type="text/javascript" src="engine1/wowslider.js"></script>
	    <script type="text/javascript" src="engine1/script.js"></script>
		<script src="js/slidejs.js"></script>

	</body>
</html>
