<!DOCTYPE html>
<html ng-app="Login">
	<head>
    <title>Bienvenido</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <script src="js/angular.min.js"></script>
    <script src="js/underscore-min.js"></script>
	</head>
<body>
	<article>
		<section>
			<h1>Bienvenido</h1>
			<h2>{{ username }}</h2>

		</section>
	</article>
  <script src="/js/login_once.js"></script>
  </body>
</html>
