<!DOCTYPE html>
<html ng-app="Login">
<head>
	<title>Login</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="css/login.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<script src="js/angular.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="/js/sweetalert.min.js"></script> <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">

</head>
<body>
	<article class="article-login">
		<section class="section-login">
			<div class="wrap-form-login text-center">
				<img src="imagenes/avata.jpg">

				<form name="formLogin" class="form-login" ng-controller="LoginController" novalidate ng-submit="request_login()">

					<span class="label-field">Usuario</span>
					<input name="entryLogin" ng-trim="false" ng-change="testUsername()" ng-focus="focus_label(onFocus)" class="form-control" ng-model="username" placeholder="Completa este campo">

					<div class="msg-info field-valid {[{ nameValid ? '': 'hide' }]}">
						<i class="material-icons">check_circle</i>
						<span>{[{ username }]}</span>
					</div>

					<div class="msg-info wrong-username {[{ username === '' ? 'hide': '' }]} {[{ !nameValid ? '': 'hide' }]}">
						<i class="material-icons">cancel</i>
						<span>Escribe un nombre con minimo 4 caracteres sin espacios, en minusculas.</span>
					</div>

					<div class="msg-info {[{ username === '' ? '': 'hide' }]}">
						<i class="material-icons">report</i>
						<span>Escribe tu primer nombre en minusculas.</span>
					</div>


					<span class="label-field">Contrase単a</span>
					<input name="entryPassword" placeholder="Completa este campo" type="password" class="form-control" ng-model="password" ng-change="testPassword()" id="password">

					<div class="msg-info field-valid {[{ passValid ? '': 'hide' }]}">
						<i class="material-icons">check_circle</i>
						<span>Listo!</span>
					</div>

					<div class="msg-info wrong-username {[{ password === '' ? 'hide': '' }]} {[{ !passValid ? '': 'hide' }]}">
						<i class="material-icons">cancel</i>
						<span>Escribe una contrase単a con minimo 4 caracteres sin espacios.</span>
					</div>

					<div class="msg-info {[{ password === '' ? '': 'hide' }]}">
						<i class="material-icons">report</i>
						<span>Escribe una contrase単a, si aun no tienes escribe tu documento de identificacion.</span>
					</div>


					<div class="wrap-section-getIn">
						<button type="submit" class="btn btn-default_foro mitad">
						<span class="label-getin">Ingresar</span>
						<i class="material-icons float-right offset-arrow">arrow_forward</i>
						</button>

						<a href="#" class="label-reset-password">Olvide mi contrase単a</a>
					</div>
				</form>
			</div>

		</section>
	</article>

	<script src="/js/login.js"></script>
</body>
</html>
